<div class="login">
    <p-card class="w-30rem">

        <div class="flex justify-content-center align-self-center">
            <img [src]="logoScharff"/>
        </div>

        <h3 class="text-center text-xl">Sistemas de Facturación</h3>

        <div class="p-fluid grid px-3">

            <!-- Correo -->
            <!-- <div *ngIf="!isAuth" class="field col-12">
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText>
                    <label for="inputtext">Correo</label>
                </span>
            </div> -->

            <!-- Contraseña -->
            <!-- <div *ngIf="!isAuth" class="field col-12">
                <span class="p-float-label">
                    <p-password [feedback]="false" [toggleMask]="true"></p-password>
                    <label for="inputtext-left">Contraseña</label>
                </span>
            </div> -->

            <div class="col-12">
                <button pButton class="b-primary" label="Iniciar Sesión" (click)="login() "></button>
                <!-- <button pButton class="b-primary" label="Salir" (click)="logout()" *ngIf="isLoggedIn()"></button> -->
            </div>
        </div>
    </p-card>
</div>
