:host ::ng-deep {
    .iconagregar {
        border-radius: 50%;
        border: 3px solid var(--primary-color) !important;
        display: flex;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        color: var(--primary-color) !important;
    }

    .buttton-notas{
        background: transparent !important;
        color: black !important;
        font-size: 1.2rem !important;
        padding-left: 0rem !important;
    }

    .p-button:disabled{
        opacity: 0.38;
    }

    .p-button:disabled .iconagregar{
        border: 3px solid #A3A3A3 !important;
        color: #A3A3A3 !important;
    }

    p-inputtextarea,  .p-inputtextarea{
        border-radius: 12px !important;
        resize: none !important;
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        color: #3B82F6;
    }

    .p-tabview-title {
        font-size: larger;
        font-weight: bold;
    }
    
    .tab-secondary .p-tabview .p-tabview-panels {
        padding-bottom: 0px !important;
    }

    .p-tabview-nav {
        border-bottom-width: 1px !important;
    }

    .delete-button-container {
        width: 35px;
        height: 43px;
        margin-bottom: 0px;
        padding: 15px 0 0 0;
      }

    .p-button.p-button-icon-only.p-button-rounded {
        border-radius: 50%;
        height: 2rem;
    }

    .tacho-button:hover {
        background-color: transparent !important; /* Elimina el cambio de fondo */
        color: black !important; /* Mantén el color negro para el texto */
        box-shadow: none !important; /* Elimina cualquier sombra */
    }

    .tacho-button {
        min-width: auto !important;
        margin: 0 !important;
        padding: 0.25rem !important;
    }
}
