:host ::ng-deep {
    .p-card .p-card-content {
        margin-left: 8.375rem;
        margin-right: 8.375rem;
    }

    .tab-secondary .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        padding-left: 73px;
        padding-right: 73px;
    }
}